.Barra {
    background-color: #213c58;
    border-bottom: 5px solid #8190a5;
    height: 100px;
    position: absolute;
    width: 100%;
    top:0px;
    right:0px;
}

.Barra img {
    position: relative;
    left: 20px;
}

.Titulo {
    font-family: "Palatino", cursive;
    color: #fafafa;
    width: 50%;
    height: 30%;
    display: inline-block;
    text-indent: 60px;
    position: absolute;
}

.Boton2 {
    height: 60px;
    width: 190px;
    margin: 20px 20px;
    right:100px;

    line-height: 60px;
}

.Boton3 {
    height: 35px;
    width: 190px;
    margin-top: 10px;
    top: 11px;
    opacity: 0.8;

}

.Boton{
    text-align: center;
    text-decoration:none;
    font-family: "Candara";
    color: #213C58;
    font-size: 25px;
    display: inline-block;
    position: relative;
    float: right;

    transition: 0.4s;
    background-color: #e5e9f2;
    border-radius: 14px 14px 14px 14px;
    border-bottom-color: #8492a6;
}
.Boton:hover{
    background-color:#8492a6;

}

.Data{
    border-radius: 14px 14px 14px 14px;
    background: rgba(240, 248, 255,0.4);
    width: 200px;
    height: 420px;

    position: relative;
    left: 130px;
    top: 171px;
}

#Form{
    background: #e5e9f2;
    position: relative;
    top: -8px;
    right: 5px;
}

input[type=text], select {


    position: absolute;
    width: auto;

    top:168px;
    left:700px;


    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;

}

input[type=submit] {

    background-color: #e5e9f2;

    position: absolute;
    width: auto;

    top:168px;
    left:835px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    text-align: center;
    color: #213C58 ;
}

input[type=submit]:hover {
    background-color: #8492a6;
}