.box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 118px;
    filter:opacity(.3);
}
.texto-encima {
    width:950px;
    display: inline-block;
    position:absolute;
    top: 180px;
    left: 210px;
    text-align: justify;

    font-family: Candara;
    font-size: 20px;
    color: #fafafa;



}