.Barra {
    background-color: #213c58;
    border-bottom: 5px solid #8190a5;
    height: 100px;
    position: absolute;
    width: 100%;
    top:0px;
    right:0px;
}

.Barra img {
    position: relative;
    left: 20px;
}

.Titulo {
    font-family: 'Chewy', cursive;
    color: #fafafa;
    width: 50%;
    height: 30%;
    display: inline-block;
    text-indent: 60px;
    position: absolute;
}

.Boton1 {
    background-color: #8190A5;
    border-radius: 14px 14px 14px 14px;
    border-bottom-color: #8492a6;
    height: 60px;
    width: 190px;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 20px;
    
    font-family: "Candara";
    color: #213C58;
    font-size: 25px;
}
.Boton2 {
    background-color: #e5e9f2;
    border-radius: 14px 14px 14px 14px;
    border-bottom-color: #8492a6;
    height: 60px;
    width: 190px;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 20px;


    font-family: "Candara";
    color: #213C58;
    font-size: 25px;
}

.Boton3 {
    background-color: #e5e9f2;
    border-radius: 14px 14px 14px 14px;
    border-bottom-color: #8492a6;
    height: 35px;
    width: 190px;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 20px;


    font-family: "Candara";
    color: #213C58;
    font-size: 25px;

}

.Data{
    border-radius: 14px 14px 14px 14px;
    background:aliceblue;
    filter:opacity(.4);
    width: 200px;
    height: 500px;

    position: relative;
    left: 40px;
    top: 150px;
    

}

#Form{
    background: #e5e9f2;
    position: relative;
    top: -8px;
    right: 5px;
}


